section{
    margin-left: 500px;
    margin-top: 20px;
}
header{
    margin: 0;
}
footer{
    margin: 0;
}

.effectsilver{
    color: #fff;
    border-radius: 10px;
    border: 4px solid #000;
    box-shadow: 0 0 0 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.effectsilver:hover{
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow: 0 0 0 4px #EEE inset;
}

.effectsilver span{
    transition: all 0.2s ease-out;
    z-index: 2;
    top: 50% !important;
}

.effectsilver:hover span{
    letter-spacing: 0.12em;
    color: #333;
}
.effectsilver:after{
    background: #FFF;
    border: 0 solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
    z-index: 1;
}
.effectsilver:hover:after{
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

div.service{
    float: left;
    width: 300px;
    border-radius: 10px;
    height: 750px;
    box-shadow: 0 0 0 4px #000 inset;
}
div.service img{
    height: auto;    
    width: 300px;
    border-radius: 10px;
}

section.contact{
    align-items: center;
    border-radius: 10px;
}
button#op1{
    width: 300px;
    bottom: 0%;
}